## **Importing Libraries**

In [1]:
import pandas as pd

##**Load the dataset**

In [2]:
df = pd.read_csv("/content/googleplaystore.csv")

In [3]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

## **Check the dimension of the dataframe**

In [4]:
df.shape

(10841, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [6]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

## **Checking missing values**

In [7]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [8]:
df = df.dropna()

In [9]:
10841 - 9360

1481

In [10]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [11]:
# df = pd.read_csv("").dropna()

**Q1. Finding Average Rating**

In [12]:
df['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10834    4.0
10836    4.5
10837    5.0
10839    4.5
10840    4.5
Name: Rating, Length: 9360, dtype: float64

In [13]:
len(df['Rating'])

9360

In [14]:
sum(df['Rating'])

39235.60000000005

In [15]:
re = round(int(sum(df['Rating'])) / len(df['Rating']),2)

In [16]:
re

4.19

In [17]:
print('Average Rating Of These Apps :',float(str(sum(df['Rating'])/len(df['Rating']))[:4]))

Average Rating Of These Apps : 4.19

In [18]:
s = 0
for i in df['Rating']:
  s += i
print(s/len(df['Rating']))

4.191837606837612

**Q2. How Many Apps Are There With Rating 5?**

In [19]:
df[df['Rating'] == 5.0]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
329,Hojiboy Tojiboyev Life Hacks,COMICS,5.0,15,37M,"1,000+",Free,0,Everyone,Comics,"June 26, 2018",2.0,4.0.3 and up
612,American Girls Mobile Numbers,DATING,5.0,5,4.4M,"1,000+",Free,0,Mature 17+,Dating,"July 17, 2018",3.0,4.0.3 and up
615,Awake Dating,DATING,5.0,2,70M,100+,Free,0,Mature 17+,Dating,"July 24, 2018",2.2.9,4.4 and up
633,Spine- The dating app,DATING,5.0,5,9.3M,500+,Free,0,Teen,Dating,"July 14, 2018",4.0,4.0.3 and up
636,Girls Live Talk - Free Text and Video Chat,DATING,5.0,6,5.0M,100+,Free,0,Mature 17+,Dating,"August 1, 2018",8.2,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10721,Mad Dash Fo' Cash,GAME,5.0,14,16M,100+,Free,0,Everyone,Arcade,"June 19, 2017",2.5a,4.1 and up
10742,GKPB FP Online Church,LIFESTYLE,5.0,32,7.9M,"1,000+",Free,0,Everyone,Lifestyle,"December 31, 2017",0.7.1,4.4 and up
10776,Monster Ride Pro,GAME,5.0,1,24M,10+,Free,0,Everyone,Racing,"March 5, 2018",2.0,2.3 and up
10820,Fr. Daoud Lamei,FAMILY,5.0,22,8.6M,"1,000+",Free,0,Teen,Education,"June 27, 2018",3.8.0,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up

In [20]:
c = 0
for i in df['Rating']:
  if (i == 5.0):
    c += 1
print("These are",c,"apps with rating 5.")

These are 274 apps with rating 5.

**Q3. How Many Apps Are There With Rating Between 4 - 4.5?**

In [21]:
c = 0
for i in df['Rating']:
  if (i >= 4.0 and i <= 4.5):
    c += 1
print("These are",c,"apps with rating 4 - 4.5")

These are 5446 apps with rating 4 - 4.5

**Q4. Average App Reviews**

In [22]:
s = 0
for i in df['Reviews']:
  s += int(i)
print(int(s/len(df['Reviews'])))

514376

**Q5. Total Number Of Categories**

In [23]:
print("These are total",len(df['Category'].unique()),"categories of apps.")

These are total 33 categories of apps.

**Q6. Total Apps In Each Category**

In [24]:
c = 0
for i in df['Category']:
  if ( i == "ART_AND_DESIGN" ):
    c += 1
print(c)

61

In [25]:
for i in df['Category'].unique():
  c = 0
  for j in df['Category']:
    if i == j:
      c += 1
  print(i,c)

ART_AND_DESIGN 61
AUTO_AND_VEHICLES 73
BEAUTY 42
BOOKS_AND_REFERENCE 178
BUSINESS 303
COMICS 58
COMMUNICATION 328
DATING 195
EDUCATION 155
ENTERTAINMENT 149
EVENTS 45
FINANCE 323
FOOD_AND_DRINK 109
HEALTH_AND_FITNESS 297
HOUSE_AND_HOME 76
LIBRARIES_AND_DEMO 64
LIFESTYLE 314
GAME 1097
FAMILY 1746
MEDICAL 350
SOCIAL 259
SHOPPING 238
PHOTOGRAPHY 317
SPORTS 319
TRAVEL_AND_LOCAL 226
TOOLS 733
PERSONALIZATION 312
PRODUCTIVITY 351
PARENTING 50
WEATHER 75
VIDEO_PLAYERS 160
NEWS_AND_MAGAZINES 233
MAPS_AND_NAVIGATION 124

**Q7. Total Number Of Types In apps**

In [26]:
df['Type'].unique()

array(['Free', 'Paid'], dtype=object)

**Q8. Total Number Of Free And Paid Apps**

In [27]:
f = 0
for i in df['Type']:
  if(i == "Free"):
    f += 1
print('These Are', f, 'Free Applications',end = ' ')
p = 0
for j in df['Type']:
  if(j == 'Paid'):
    p += 1
print('And These Are', p, 'Paid Applications')

These Are 8715 Free Applications And These Are 645 Paid Applications

**Q9. Which Percentage Of Free Apps**

In [28]:
print(int(f/(f+p)*100),'% of apps are free')

93 % of apps are free

**Q10. Which Percentage Of Paid Apps**

In [29]:
print(int(p/(f+p)*100),'% of apps are paid')

6 % of apps are paid

In [30]:
f/(f + p)*100

93.10897435897436

In [31]:
for i in df['Type'].unique():
  c = 0
  for j in df['Type']:
    c += 1
  print(i,c)

Free 9360
Paid 9360

In [32]:
ff=f/len(df['Type'])*100
ff=round(ff,2)
pp=100-ff
pp=round(pp,2)
print(f"A total of {ff}% of the apps are Free and {pp}% of the apps are paid")

A total of 93.11% of the apps are Free and 6.89% of the apps are paid

**Q11. Name Of All Content Rating**

In [33]:
for i in df['Content Rating'].unique():
  print(i)

Everyone
Teen
Everyone 10+
Mature 17+
Adults only 18+
Unrated

In [34]:
categories = {}
for i in df['Category'].unique():
  c = 0
  for j in df['Category']:
    if i == j:
      c += 1
  categories[i] = c

In [35]:
for i in df['Category'].unique():
  print(i,categories[i])

ART_AND_DESIGN 61
AUTO_AND_VEHICLES 73
BEAUTY 42
BOOKS_AND_REFERENCE 178
BUSINESS 303
COMICS 58
COMMUNICATION 328
DATING 195
EDUCATION 155
ENTERTAINMENT 149
EVENTS 45
FINANCE 323
FOOD_AND_DRINK 109
HEALTH_AND_FITNESS 297
HOUSE_AND_HOME 76
LIBRARIES_AND_DEMO 64
LIFESTYLE 314
GAME 1097
FAMILY 1746
MEDICAL 350
SOCIAL 259
SHOPPING 238
PHOTOGRAPHY 317
SPORTS 319
TRAVEL_AND_LOCAL 226
TOOLS 733
PERSONALIZATION 312
PRODUCTIVITY 351
PARENTING 50
WEATHER 75
VIDEO_PLAYERS 160
NEWS_AND_MAGAZINES 233
MAPS_AND_NAVIGATION 124

In [36]:
types = {}
for i in df['Type'].unique():
  c = 0
  for j in df['Type']:
    if i == j:
      c += 1
  types[i] = c

In [37]:
types

{'Free': 8715, 'Paid': 645}

In [38]:
df.sample()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
3465,Microsoft OneNote,PRODUCTIVITY,4.4,480643,Varies with device,"100,000,000+",Free,0,Everyone,Productivity,"July 22, 2018",16.0.10325.20024,4.4 and up

In [39]:
content_rating = {}
for i in df['Content Rating'].unique():
  c = 0
  for j in df['Content Rating']:
    if i == j:
      c += 1
  content_rating[i] = c

In [40]:
content_rating

{'Everyone': 7414,
 'Teen': 1084,
 'Everyone 10+': 397,
 'Mature 17+': 461,
 'Adults only 18+': 3,
 'Unrated': 1}

In [41]:
df['Rating'].describe()

count    9360.000000
mean        4.191838
std         0.515263
min         1.000000
25%         4.000000
50%         4.300000
75%         4.500000
max         5.000000
Name: Rating, dtype: float64

In [42]:
df['Category'].describe()

count       9360
unique        33
top       FAMILY
freq        1746
Name: Category, dtype: object